Q1

In [3]:
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']

In [6]:
def product(lst):
    flat_list=[]
    for i in lst:
        if type(i) == int:
            flat_list.append(i)
            
        elif type(i) == list or type(i) == set or type(i) == tuple:
            for j in i:
                if type(j) == int:
                    flat_list.append(j)
        
        elif type(i) == dict:
            for m,n in i.items():
                if type(m) == int:
                    flat_list.append(m)
                    
                if type(n) == int:
                    flat_list.append(n)
                elif type(n) == list or type(n) == set or type(n) == tuple:
                    for k in n:
                        if type(k) == int:
                            flat_list.append(k)
        else :
            continue
            
   # flat_list
        
    from functools import reduce
    product= reduce(lambda x,y:x*y,flat_list)
    
    return product

In [7]:
product(list1)

4134711838987085478833841242112000

Q2

In [39]:
msg = "I want to become a Data Scientist"
#msg.lower()

enc_msg = map(lambda s : 'z' if s=='a' else 'y' if s=='b' else 'x' if s=='c' 
                   else '$' if s==' '  else s,msg.lower())


new_msg =''
for i in enc_msg:
    new_msg+= i
print(new_msg)

i$wznt$to$yexome$z$dztz$sxientist